// Reset
body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  font-family: inherit;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

// Global Styles
* {
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  background: linear-gradient(to bottom, $secondary, $primary);
  background-size: cover;
}
