.hero {
  padding-block: 1.5rem;
  min-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 600px;
  margin-inline: auto;
  max-width: 100%;

  @media screen and (min-width: $desktop) {
    width: 1024px;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
  }
}
